@import '../utils/Colors.scss';
button {
  color: white;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.25rem;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;

  svg {
    // margin-left: 0.5rem;
    font-size: large;
    transition: all 0.4s ease-in-out;
  }
}
.blue {
  background: #0f3153;
  border: 2px solid rgba(58, 160, 243, 0.5);
  border-radius: 4px;
  transition: 0.4s ease-in-out;
  &:hover {
    background: #104172;
    border: 2px solid rgba(58, 160, 243, 0.5);
    color: white;
    box-shadow: 2px 2px 0px rgba(144, 202, 249, 0.56),
      4px 4px 0px rgba(144, 202, 249, 0.4),
      6px 6px 0px rgba(144, 202, 249, 0.24),
      8px 8px 0px rgba(144, 202, 249, 0.08);
  }
}
.web3 {
  background-color: $primary;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 4px 4px $primary8;
  &:hover {
    background-color: transparent;
    border: 0.1rem solid $primary;
    color: $primary;
    box-shadow: 0 0 8px 6px $primary8;
  }
}

.pink {
  background-color: $buttonPinkColor;
  transition: 0.4s ease-in-out;
  &:hover {
    background-color: white;
    border: 0.1rem solid $buttonPinkColor;
    color: $buttonPinkColor;
  }
}

.inverse {
  background-color: white;
  color: $buttonPinkColor;
  border: $buttonPinkColor 0.1rem solid;
  transition: 0.4s ease-in-out;
  &:hover {
    background-color: $buttonPinkColor;
    border: 0.1rem solid transparent;
    color: white;
  }
}

.inverse-no_outline {
  background-color: $primary24;
  color: $primary;
  padding: 0.2rem;
  transition: 0.4s ease-in-out;
  padding: 0.6rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem $primary56;
  svg {
    fill: none;
    stroke: $secondary;
    stroke-width: 2rem;
    transform: scale(1);
    overflow: visible;
  }

  &:hover {
    background-color: $primary64;
    box-shadow: 0 0 0 0.2rem $primary56, 0 0 0.1rem 0.2rem $primary40,
      0 0 0.1rem 0.2rem $secondary;

    svg {
      fill: $secondary;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  button {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
    svg {
      font-size: small;
    }
  }

  .inverse-no_outline {
    svg {
      stroke-width: 2.8rem;
      transform: scale(1.5);
    }
    &:hover {
      color: white;
      svg {
        fill: $buttonPinkColor;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  button {
    font-size: 1.3rem;
    padding: 1.5rem 1.5rem;
    svg {
      font-size: small;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  button {
    font-size: 0.7rem;
    padding: 0.8rem;
    white-space: nowrap;
  }
}
