@import '../utils/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.about {
  background: #172b3e !important;
  /* border: 2px solid #3aa0f3; */
  display: flex;
  font-family: sans-serif;
  color: white;
  padding: 7vh 3vw;
  padding-bottom: 10vh;
  letter-spacing: 1px;
  /* z-index: 8; */
}
/* .about_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */
.about-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 40px;
  font-size: medium;
  width: 50%;
}
.about-leftImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.about-leftImage img {
  height: 224px;
  width: 224px;
}
.about-rightImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 60px;
}
.about-leftContent hr {
  margin-top: 0px;
  width: 13%;
  margin-left: 0px;
  height: 3.5px;
  background: rgba(58, 160, 243, 1);
  border: 0px;
}
.about-leftContent h1 {
  margin-bottom: 0px;
}
.about-contentList {
  display: flex;
}
.about-contentList p {
  margin-top: 0;
  margin-left: 7px;
}

@media screen and (max-width: 1076px) {
  .about {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-content {
    font-size: small;
  }
}
@media screen and (max-width: 625px) {
  .content {
    max-width: 60vw;
  }
  .about-content {
    font-size: small;
  }
  .about-leftImage img {
    height: 100px;
    width: 100px;
  }
  .about-rightImage img {
    height: 100px;
    width: 100px;
  }
}
