@import '../utils/Colors.scss';
@import '../utils/Fonts.scss';

.main-container {
  overflow-x: hidden;
  overflow-y: hidden;
  background: #0a1929;
  background: url('./../../assets/hero_section/Desktop-bg.png') no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  display: block;
  height: 100vh;

  @keyframes up-down {
    0% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-1rem);
    }
    100% {
      transform: translateY(0rem);
    }
  }
  @keyframes sideways {
    0% {
      transform: translateX(0rem);
    }
    50% {
      transform: translateX(-1rem);
    }
    100% {
      transform: translateX(0rem);
    }
  }
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .person {
    position: absolute;
    top: 30%;
    right: 20%;
    height: 60vh;
    z-index: 2;
    animation: up-down 3s ease-in-out infinite;
  }
  .person {
    position: absolute;
    top: 30%;
    right: 20%;
    height: 60vh;
    z-index: 2;
    animation: up-down 3s ease-in-out infinite;
  }

  .container {
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Open Sans';
    margin-top: -5%;
    .content {
      z-index: 4;
      // padding: 0 10%;
      margin-left: 10%;
      overflow-x: hidden;
      background-color: transparent;
      max-height: 100vh;
      height: 100vh;
      // margin-top: 1rem;
      width: 40vw;
      // margin-right: 3rem;
      .presents {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h1 {
        font-size: 3rem;
        color: white;
        span {
          color: $primary;
          filter: drop-shadow(1px 1px 17px rgba(255, 255, 255, 0.5));
          -webkit-filter: drop-shadow(1px 1px 17px rgba(255, 255, 255, 0.5));
          -moz-filter: drop-shadow(1px 1px 17px rgba(255, 255, 255, 0.5));
          transition: 0.5s;
        }
      }
      p {
        width: 100%;
        font-size: 1.3rem;
        color: white;
        line-height: 1.8rem;
        // text-align: center;
      }
      .button-container {
        display: flex;
        margin-top: 20px;
        // justify-content: flex-start;
        // justify-content: left;
        button {
          margin-right: 1rem;
        }
        .register-button {
          margin: auto 0;
          // position: absolute;
          // left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .main-container {
    .container {
      grid-template-columns: 1fr;
      .content {
        margin-right: 0;
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    padding-bottom: 3rem;
    .container {
      .content {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
      // .image {
      //   img {
      //     height: 30rem;
      //     width: 30rem;
      //   }
      // }
    }
  }
}

@media screen and (max-width: 670px) {
  .person {
    display: none;
  }
  .content {
    width: 80vw !important;
  }
}

@media screen and (max-width: 400px) {
  .main-container {
    // padding-bottom: 3rem;
    .container {
      .content {
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1.7rem;
          line-height: 2.5rem;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
