@import '../utils/Colors.scss';
.main-container {
  // margin: 0 10rem;
  //   margin: 0 10%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #0a1929;
  color: white;
  display: block;
  height: 100vh;

  .cloud {
    position: absolute;
    top: 0%;
    // left: -17%;
    height: 100%;
    z-index: 1;
    transform: translateX(-20%);
  }
  .person {
    position: absolute;
    top: 30%;
    right: 30%;
    height: 60vh;
    z-index: 2;
  }
  .particles1 {
    position: absolute;
    top: 0%;
    right: 40%;
    height: 300px;
    z-index: 0;
  }
  .particles2 {
    position: absolute;
    top: 10%;
    right: 0%;
    height: 300px;
    z-index: 0;
  }
  .particles3 {
    position: absolute;
    top: 70%;
    right: 30%;
    height: 300px;
    z-index: 0;
  }

  .container {
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .content {
      z-index: 4;
      padding: 0 10%;
      overflow-x: hidden;
      background-color: transparent;
      max-height: 100vh;
      height: 100vh;
      margin-top: 5rem;
      margin-right: 3rem;
      h1 {
        font-size: 3rem;
        color: white;
      }
      p {
        font-size: 1.4rem;
        color: white;
        line-height: 1.9rem;
      }
      .button-container {
        display: flex;
        button {
          margin-right: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .main-container {
    .container {
      grid-template-columns: 1fr;
      .content {
        margin-right: 0;
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
      // .image {
      //   margin-left: 2rem;
      //   img {
      //     height: 25rem;
      //     width: 25rem;
      //   }
      // }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    padding-bottom: 3rem;
    .container {
      .content {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
      // .image {
      //   img {
      //     height: 30rem;
      //     width: 30rem;
      //   }
      // }
    }
  }
}
