$lightFontColor: #5b595f;
$blueColor: #410ba5;
$pinkColor: #f32a8f;
$headingColor: rgb(18, 18, 88);

$buttonBlueColor: #410ba5;
$buttonPinkColor: #f32a8f;

$bg : #0A1929;
$bgLight : #172B3E;
$primary: #90CAF9;
$primary8: rgba(144, 202, 249, 0.08);
$primary24: rgba(144, 202, 249, 0.24);
$primary40: rgba(144, 202, 249, 0.4);
$primary56: rgba(144, 202, 249, 0.56);
$primary64: rgba(144, 202, 249, 0.64);
$primary80: rgba(144, 202, 249, 0.80);
$primary90: rgba(144, 202, 249, 0.90);
$secondary: #ffffff;