.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color: rgba(144, 202, 249, 0.8);
    content: '';
    /* border: 2px dashed; */
    /* border: 2px solid rgba(144, 202, 249, 0.8); */
    position: absolute;
    left: calc(50% - 5px);
    width: 4px;
    height: 100%;
}

@media (max-width: 600px) {
    .timeline-container::after {
        margin-left: 30px;
        left: calc(2px);
    }
}
